{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
     <h2 class="col-12 text-center mb-5">
      <strong>{{ header_text }}</strong>
    </h2>

    <div class="row">
    <div class="col-10 mx-auto">
        <table class="table table-sm text-center">
            <thead class="bg-primary text-light">
              <tr>
                <th class="py-3" scope="col">Name</th>
                <th class="py-3" scope="col">Team/Club</th>
                <th class="py-3" scope="col">Position</th>
                <th class="py-3" scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
                <!-- format if from other table object.fkfield.datafromreferencetable -->
                <!-- note how to use the if statement below. the value of isActive is either True or False but we want to display "Active" or "Inactive" -->
                {% for object in object_list %}
              <tr>
                <th scope="row">{{ object.player.firstname }} {{ object.player.lastname }}</th>
                <td>{{ object.team.name }}</td>
                <td>{{ object.pos.description }}</td>
                  <td>{% if object.isActive == True %} <p class="text-success"> Active </p> {% else %} <p class="text-danger"> Inactive </p> {% endif %}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>







    </div>
  </div>

{% endblock content %}